{% extends 'qr/dashboardBase.html' %}
{% block content %}

{% if menus %}
    {% for item in menus %}
        
        <div class="row d-flex align-items-center justify-content-center mt-3">
            <div class="col-3">
                {% if item.image %}
                    <img src="{{ item.image.url }}" alt="{{ item.name }}" class="img-fluid rounded-4" style="max-width:100px">
                {% else %}
                    <p>vggjfg</p>
                {% endif %}
            </div>
            <div class="col-3">
                <h5 class="text-capitalize">{{ item.name }}</h5>
            </div>
            <div class="col-3">
                <h5>{{ item.price }}</h5>
            </div>
            <div class="col-3">
                <a href="{% url 'update_menu_item' item.id %}" class="btn btn-org">Edit</a>
                <a href="{% url 'delete_menu_item' item.id %}" class="btn btn-dar">Delete</a>
            </div>
        </div>
        <hr>
            
    {% endfor %}
{% else %}
    <p>No menus available.</p>
{% endif %}
{% endblock %}