
{% block title %} Profile {% endblock %}



{% block content %}
<div class="container menu-update p-2 my-5 d-flex align-items-center justify-content-center border rounded-5">
    <form method="POST" action="{% url 'profile' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="my-5">
            <h2 class="text-center">Profile</h2>
        </div>
        
        <div class="my-3 d-flex align-items-center justify-content-center">
            <img src="{{ restaurant.logo.url }}" class=" img-fluid w-50 rounded-4" style="max-width: 150px;">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Change Logo Image:</label>
            <input class="form-control" type="file" name="restaurant_logo" accept="images/*">
        </div>
        <div class="mb-3">
            <label for="user" class="form-label">Username</label>
            <input class="form-control" type="text" value="{{user}}" name="user" readonly>
        </div>
        <div class="mb-3">
            <label for="restaurant-id" class="form-label">Restaurant Id</label>
            <input class="form-control" type="number" value="{{restaurant.restaurant_id}}" name="restaurant_id" readonly>
        </div>
        <div class="mb-3">
            <label for="restaurant-name" class="form-label">Restaurant Name</label>
            <input type="text" class="form-control" value="{{restaurant.restaurant_name}}" name="restaurant_name">
        </div>
        <div class="mb-3">
            <label for="address" class="form-label ">Address</label>
            <textarea class="form-control" rows="3" value="{{restaurant.address}}" name="address">{{restaurant.address}}</textarea>
        </div>
        <div class="mb-3">
            <label for="mobile" class="form-label ">Mobile</label>
            <input type="number" class="form-control" value="{{restaurant.mobile}}" name="mobile">
        </div>
        <div class="mb-3">
            <label for="wifi" class="form-label">Wi-Fi</label>
            <input class="form-control" type="text" value="{{restaurant.wifi}}" name="wifi">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input class="form-control" type="email" value="{{restaurant.email}}" name="email">
        </div>
        <div class="mb-3">
            <label for="Category" class="form-label">Category</label>
            <select class="form-select" aria-label="Default select example" name="category" >
                {% for value, display in restaurant.CATEGORY_CHOICES %}
                <option value="{{value}}" {% if value == restaurant.category %} selected {% endif %}>{{display}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="membership" class="form-label">Membership Plan</label>
            <input class="form-control" type="text" value="{{membership.membership_type}}" name="membership_type" readonly>
        </div>

        <div class="my-3 d-flex justify-content-center ">
            <button type="submit" class="btn btn-outline-success mx-2">Update</button>
            <a href="{% url 'dashboard' %}" class="btn btn-outline-warning mx-2">Cancel</a>
        </div>
    </form>
</div>

</div>

{% endblock %}


    